<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kispoko.tome">

<application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <activity
        android:name=".activity.LaunchActivity"
        android:theme="@style/AppTheme.NoActionBar" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity
        android:name=".activity.SheetActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="adjustResize">
    </activity>

    <activity
        android:name=".activity.ManageSheetsActivity"
        android:label="Characters"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="adjustPan" />

    <activity
        android:name=".activity.NewCharacterActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:label="New Character" />

    <activity
        android:name=".activity.engine.EngineActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:label="Engine" />

    <activity
        android:name=".activity.official.template.OfficialTemplatesActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:label="Templates" />

    <activity
        android:name=".activity.official.template.OfficialTemplateActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:label="Template" />

    <activity
        android:name=".activity.official.OfficialGamesActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:label="Choose Template" />

    <activity
        android:name=".activity.SummationActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:label="Summation" />

    <activity
        android:name=".activity.NumberActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:label="Edit Number" />

    <activity
        android:name=".activity.engine.dictionary.DictionaryActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:label="Dictionary" />

    <activity
        android:name=".activity.engine.valueset.BaseValueSetEditorActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="adjustPan"
        android:label="Value Set" />

    <activity
        android:name=".activity.engine.value.ValueListActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="adjustPan"
        android:label="Values" />

    <activity
        android:name=".activity.engine.value.TextValueEditorActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="adjustPan"
        android:label="Values" />

    <activity
        android:name=".activity.engine.value.NumberValueEditorActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="adjustPan"
        android:label="Values" />

    <activity
        android:name=".activity.engine.functionindex.FunctionIndexActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:label="Functions" />

    <activity
        android:name=".activity.engine.function.FunctionEditorActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Function" />

    <activity
        android:name=".activity.engine.programindex.ProgramIndexActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:label="Programs" />

    <activity
        android:name=".activity.engine.program.ProgramEditorActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Program" />

    <activity
        android:name=".activity.StatementActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Statement" />

    <activity
        android:name=".activity.engine.mechanicindex.MechanicIndexActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:label="Mechanics" />

    <activity
        android:name=".activity.engine.mechanic.MechanicActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Mechanic" />

    <activity
        android:name=".activity.engine.variable.TextVariableActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Text Variable" />

    <activity
        android:name=".activity.engine.variable.NumberVariableActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Number Variable" />

    <activity
        android:name=".activity.BooleanVariableActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Boolean Variable" />

    <activity
        android:name=".activity.engine.variable.DiceVariableActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Dice Variable" />

    <activity
        android:name=".activity.PageListActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Pages" />

    <activity
        android:name=".activity.GroupListActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Groups" />

    <activity
        android:name=".activity.SectionsActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:label="Groups" />

    <activity
        android:name=".activity.PageActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Groups" />

    <activity
        android:name=".activity.GroupActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Groups" />

    <activity
        android:name=".activity.GroupRowActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Groups" />

    <activity
        android:name=".activity.sheet.widget.ActionWidgetActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Groups" />

    <activity
        android:name=".activity.BooleanWidgetActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Groups" />

    <activity
        android:name=".activity.ImageWidgetActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Groups" />

    <activity
        android:name=".activity.NumberWidgetActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Groups" />

    <activity
        android:name=".activity.TableWidgetActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Groups" />

    <activity
        android:name=".activity.TextWidgetActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Groups" />

    <activity
        android:name=".activity.sheet.widget.text.TextEditorActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Text Editor" />

    <activity
        android:name=".activity.widget.QuoteEditorActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Quote Editor" />

    <activity
        android:name=".activity.sheet.DiceRollerActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Dice Roller" />

    <activity
        android:name=".activity.engine.variable.DiceRollTermActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Dice Roll Term Editor" />

    <activity
        android:name=".activity.mechanic.DiceRollEditorActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Dice Roll Editor" />

    <activity
        android:name=".activity.mechanic.quantity.DiceQuantityEditorActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Dice Quantity Editor" />

    <activity
        android:name=".activity.mechanic.quantity.DiceQuantityListActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Dice Quantity List Editor" />

    <activity
        android:name=".activity.mechanic.modifiers.DiceModifierListActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Modifiers List Editor" />

    <activity
        android:name=".activity.mechanic.modifiers.RollModifierEditorActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Roll Modifier Editor" />

    <activity
        android:name=".activity.engine.variable.VariableReferenceActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Variable Reference Editor" />

    <activity
        android:name=".activity.engine.variable.VariableListActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Variable List Editor" />

    <activity
        android:name=".activity.engine.function.TuplesEditorActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Tuples Editor" />

    <activity
        android:name=".activity.engine.program.StatementsEditorActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden"
        android:label="Program Statements Editor" />

</application>

</manifest>
